@use 'utilities/mixins' as *;
@use 'base/colors' as *;

h1 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  
  @include breakpoint-up(medium) {
    font-size: 3rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;     
  color: $white;     
}

p {
  line-height: 1.6;
  margin: 0;
}