@use 'base/colors' as *;

button {  
  outline: none;
  cursor: pointer;
  border: none;  
  border-radius: .5rem; 
  padding: 1rem 2rem;  
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;       
    right: 0;
    background-color: rgba($color: $grayish-blue, $alpha: .25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;        
  }

  &:hover::before {
    opacity: 1;
  }     
}